@model List<CategoriesModel>

@section title {
    <h1 class="float-sm-start">Categories</h1>
    <a asp-controller="Categories" asp-action="AddNew" class="float-end btn btn-primary">Add New</a>
}

@* <ul>
    @foreach (var _model in Model)
    {
        <li>
            <a href="Categories/Edit/@_model.CategoryId">@_model.CategoryName</a>
        </li>
    }
</ul> *@

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td class="text-center">Category</td>
                <td class="text-center">Description</td>
                <td class="text-center">Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.CategoryName</td>
                    <td>@data.CategoryDescription</td>
                    <td class="text-center">
                        <a class="btn btn-warning" asp-controller="Categories" asp-action="Edit" asp-route-id="@data.CategoryId">Edit</a>
                        <a class="btn btn-danger" asp-controller="Categories" asp-action="Delete" asp-route-CategoryId="@data.CategoryId"
                           onclick="return ConfirmDelete();">Delete</a>
                        @* href="@($"Categories/Edit/{data.CategoryId}")" *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @section Scripts {
    <script type="text/javascript">
        function ConfirmDelete() {
            return confirm("Are You Sure Want To Delete This Category?");
        }
    </script>
    }
}